.statistics {
  text-align: center;
  .title {
    font-weight: 700;
    text-transform: uppercase;
    color: forestgreen;
  }

  .statList {
    padding: 0;
    margin: 0 auto;
    display: flex;
    width: 500px;
  }
  .item {
    color: mediumaquamarine;
    list-style: none;
    border: 1px solid tomato;
    padding-top: 10px;
    width: 100%;
    height: 80px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .percentage {
    font-size: 22px;
  }
}
